{erl_opts, [
    debug_info,
    {i, "include"},
    {i, "_build/default/lib/behavior3/include"}
]}.

{deps, [
    {color, "1.0.0", {pkg, erlang_color}},
    {behavior3, {git, "https://github.com/dong50252409/behavior3erl.git", {branch, "master"}}},
    {maze, {git, "https://github.com/dong50252409/maze.git", {branch, "master"}}},
    {astar, {git, "https://github.com/dong50252409/astar.git", {branch, "master"}}}
]}.

%% Profiles
{profiles, [
    {test, [{erl_opts, [debug_info]}]}
]}.

{escript_incl_apps, [
    rogue_adventure,
    observer_cli
]}.

{escript_main_app, rogue_adventure}.
{escript_name, rogue_adventure}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

